.picture {
  height: 300px;
  width: 218px;
}

.cardAboutUs {
  border: solid;
  border-radius: 15px;
  color: rgb(21, 70, 21);
  margin: 15%;
}

a {
  text-decoration: none;
}

.fa-github {
  color: rgb(68, 3, 68);
}

.fa-linkedin {
  color: blue;
}

.para {
  color: black;
}

.west {
  cursor: pointer;
}

.midwest {
  cursor: pointer;
}

.northeast {
  cursor: pointer;
}

.southeast {
  cursor: pointer;
}

.southwest {
  cursor: pointer;
}

.westalaskahawaii {
  cursor: pointer;
}
