@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

@media all and (min-width: 640px) { 
  body {font-size:1rem;} } 

body{
    font-family: "Montserrat", sans-serif;
    font: medium;
} 
.donationBody{
  font-size: "Rubik", sans-serif;
}

.donationH1{
  font-family: "Rubik", sans-serif;
  margin-top: center;
  text-align: center;
  text-shadow: 1px 1px darkcyan;
}
