.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
img {
  border-radius: 5px 5px 0 0;
}
.card {
  width: 200px;
  margin-bottom: 5%;
  background-color: rgb(29, 146, 64);
}
.skills-btn-links {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #bcd8bd;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.skills-btn-links:hover {
  background-color: #10e917;
}
.skills-btn-links:active {
  background-color: #10e917;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
