.fire-link-pic{
    width: 12em;
    height: 50%;
    border-radius: .5em;
    margin-top: 5%;
    
}

.skills-container-1{
    display:flex;
    justify-content: space-around;
}

.skills-container-2{
    display:flex;
    justify-content: space-around;
}


.card { 
  border-radius: .5em;
  border-style: solid;
  width: 25%;
  margin-bottom: 5%;
  background-color: rgb(215, 230, 219);
  
}

.skills-h3{
    margin:1em;
    font-size: 1em;
}











/*The following is code to style each button separately
due to each having a unique class name to link them. */

.skills-btn-links_Fire{
  display: inline-block;
  padding: 5%;
  font-size: .6em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #279c2b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.skills-btn-links_Fire:hover {
  background-color: #10e917;
}
.skills-btn-links_Fire:active {
  background-color: #10e917;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.skills-btn-links_Water{
    display: inline-block;
    padding: 5%;
    font-size: .6em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #279c2b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .skills-btn-links_Water:hover {
    background-color: #10e917;
  }
  .skills-btn-links_Water:active {
    background-color: #10e917;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .skills-btn-links_Shelter{
    display: inline-block;
    padding: 5%;
    font-size: .6em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #279c2b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .skills-btn-links_Shelter:hover {
    background-color: #10e917;
  }
  .skills-btn-links_Shelter:active {
    background-color: #10e917;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .skills-btn-links_Food{
    display: inline-block;
    padding: 5%;
    font-size: .6em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #279c2b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .skills-btn-links_Food:hover {
    background-color: #10e917;
  }
  .skills-btn-links_Food:active {
    background-color: #10e917;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .skills-btn-links_Predators{
    display: inline-block;
    padding: 5%;
    font-size: .6em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #279c2b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .skills-btn-links_Predators:hover {
    background-color: #10e917;
  }
  .skills-btn-links_Predators:active {
    background-color: #10e917;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
